.container{
  position: relative;
  background-color: green;
  width: 600px;
  height: 400px;
}

.container1{
  position: absolute;
  background-color: green;
  border: 5px solid white;
  top: 60px;
  width: 500px;
  height: 300px;
  left: 40px;
  padding-bottom: -10px;
  padding-top: 5px;

}

.container2{
  position: relative;
  background-color: green;
  border: 5px solid white;
  width: 50px;
  top:-230px;
  left:32px;
  height: 100px;
  padding-bottom: -10px;
  padding-top: 5px;

}
.container3{
  position: relative;
  background-color: green;
  border: 5px solid white;
  width: 50px;
  top:-340px;
  left:482px;
  height: 100px;
  padding-bottom: -10px;
  padding-top: 5px;
}

#circle{
  width: 70px;
  height: 70px;
  left: 230px;
  top:130px;
  background-color: green;
  border: 5px solid white;
  position: absolute;
  margin: 0 auto;
  border-radius: 8em;
  -moz-border-radius: 8em;
  -webkit-border-radius: 8em;
  padding-bottom: 100px;
}
  
